..gitignore.un~
.gitignore.swp
.gitignore~
.README.md.un~
.README.md.swp
README.md~
Kickstarter_Challenge.xlsx
Kickstarter_Challenge_Copy.xlsx
Kickstarter_Challenge_Copy.zip
Written_Report_Template.md
